@import 'mixins';
@import 'variables';

.aboutMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.aboutMainContainer img{
    border: 3px solid $secondary-color;
    border-radius: 100%;
    animation: pulse 2s infinite alternate-reverse;
}

@keyframes pulse {
    0% {
        border: 3px solid white;
    }
}

.textContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    width: 30%;
}

.subtitleAbout {
    color: $primary-color;
    font-family: $subtitles-font;
}

.textAbout {
    overflow-wrap: break-word;
    font-family: $text-font;
    font-weight: 500;
}

.imgContainer {
    max-width: 20%;
}

@include mobile() {
    .aboutMainContainer {
        width: 100%;
    }
    .textContainer {
        min-width: 100%;
    }
    .imgContainer {
        max-width: 80%;
    }
    .aboutMainContainer {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
    }
}