@import 'mixins';
@import 'variables';

.mainContainerHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainContainerHours h3 {
    color: $primary-color;
    font-size: $subtitles-font;
}

.hoursContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
}

@include mobile(){
    .hoursContainer {
        height: max-content;
        flex-wrap: nowrap;
    }
}