@import 'mixins';
@import 'variables';

.hoursContainerUnit {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: $primary-color;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid white;
    border-radius: 25px;
    text-align: center;
    color: white;
    transition: all 1s;
}

.hoursContainerUnit h4 {
    font-size: 2rem;
    font-family: $subtitles-font;
}

.daysAndHours {
    font-size: 1.5rem;
    font-family: $text-font;
}

.hoursContainerUnit:hover {
    border-color: $primary-color;
    background-color: white;
    color: $primary-color;
}

@include mobile() {
    .hoursContainerUnit {
        width: 80%;
    }
}