@import 'mixins';
@import 'variables';

.mainContainerHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.mainContainerHours h3 {
    color: $primary-color;
    font-size: $subtitles-font;
    font-size: 3rem;
}

.hoursContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}

@include mobile(){
    .mainContainerHours {
        text-align: center;
    }
    .mainContainerHours h3 {
        max-width: 90%;
    }
    .hoursContainer {
        flex-direction: column;
        height: max-content;
        flex-wrap: nowrap;
    }
}

@include mobileS() {
    .hoursContainer {
        flex-direction: column;
    }
}