@import 'variables';
@import 'mixins';

.mainContainer {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

video {
    width: 100%;
    height: 100%;
}

.textMain {
    position: relative;
    transform: translate(-0%, -190%);
    width: 100%;
    text-align: center;
    font-family: $titles-font;
    font-weight: 400;
    color: $third-color;
    overflow-wrap: break-word;
}

.textMain h1 {
    text-align: center;
    font-size: 5rem;
}

hr {
    opacity: 0;
}

@include mobileS() {
    .mainContainer {
        flex-direction: column;
    }
}

@include mobile() {
    .mainContainer {
        width: 112%;
        text-align: center;
        font-size: medium;
        flex-direction: column;
        justify-content: center;
        row-gap: 5rem;
    }

    .textMain {
        position: relative;
        transform: translate(-0%, -150%);
    }

    .textMain h1 {
        font-size: 3rem;
    }
}

@include laptop() {
    .mainContainer {
        justify-content: space-around;
    }
}