@import 'variables';
@import 'mixins';

.officeUnitContainer {
    background-color: $primary-color;
    color: $third-color;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    border: 1px solid white;
    border-radius: 25px;
    width: 30%;
    transition: all 1s;
}

.officeUnitContainer:hover {
    border-color: $primary-color;
        background-color: white;
        color: $primary-color;
}


@include mobile() {
    .officeUnitContainer{
        width: 70%;
    }
}