@import 'variables';
@import 'mixins';

.officesSectionContainer {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 15%;
}

@include mobile() {
    .officesSectionContainer {
        flex-direction: column;
    }
}

@include mobileS() {
    .officesSectionContainer {
        
        flex-direction: column;
    }
}