@import 'variables';
@import 'mixins';

.paymentSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    padding: 1rem;
}

.paymentSectionContainer h3{
    color: $primary-color;
    font-family: $subtitles-font;
}

.mercadoPagoContainer {
    font-family: $text-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.mercadoPagoContainer a{
    font-family: $text-font;
    background-color: #42cfee;
    color: white;
    padding: 1rem;
    transition: all 1s;
}

.mercadoPagoContainer a:hover {
    padding: 1.5rem;
}

@include mobileS() {
    .mercadoPagoContainer {
        text-align: center;
    }
}
