@import 'mixins';
@import 'variables';

.containerTerapiaUnit {
    width: 60%;
    background-color: $primary-color;
    color: white;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid $primary-color;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    transition: all 1s;
}

.containerTerapiaUnit:hover {
    background-color: white;
    color: $primary-color;
    cursor: pointer;
}

.containerTerapiaUnit h4 {
    font-family: $subtitles-font;
    font-size: 2rem;
}

.containerTerapiaUnit p {
    font-family: $text-font;
    font-size: medium;
    font-size: 1.5rem;
}

.containerTerapiaUnit img {
    width: 100%;
    border-radius: 25px;
}

.containerTerapiaUnit a {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 25px;
    margin: 1rem;
    font-family: $subtitles-font;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    transition: all 1s;
}

.containerTerapiaUnit a:hover {
    border-color: $primary-color;
    background-color: white;
    color: $primary-color;
}

@include mobile() {
    .containerTerapiaUnit {
        width: 80%;
    }
}

@include laptop() {
    .containerTerapiaUnit {
        width: 100%;
    }
}