@import 'mixins';
@import 'variables';

.terapiaUnitMain {
    width: 70%;
    height: 400px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
    color: white;
    background-color: $primary-color;
    border-radius: 1rem;
    border: white 0.2rem solid;
    transition: all 0.4s ease-in;
    box-shadow: 0.4rem 0.4rem 0.6rem #00000040;
}

.terapiaUnitMain h2 {
    font-family: $titles-font;
    font-size: 3rem;
}

.descriptionTerapia h3 {
    font-family: $subtitles-font;
    font-size: 2.5rem;
}

.descriptionTerapia p {
    margin: 1rem;
    font-family: $text-font;
    font-size: 1.5rem;
}

.terapiaUnitMain:hover {
    color: black;
    background-color: $third-color;
    transform: translateY(-1.5rem);
    border: $primary-color 0.1em solid;
    border-radius: 2.5rem 0 2.5rem 0;
}

.terapiaUnitMain img {
    width: 50%;
    border-radius: 25px;
}

.terapiaUnitMain a {
    font-family: $text-font;
    font-weight: bold;
    background-color: $primary-color;
    color: white;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 25px;
    transition: all 1s;
}

.terapiaUnitMain a:hover {
    color: $primary-color;
    background-color: white;
    border: 2px solid $primary-color;
}

@include mobile() {
    .terapiaUnitMain {
        width: 90%;
    }
    .terapiaUnitMain img{
        width: 100%;
    }
}